{% extends "layout.html" %}

{% block body %}

<span">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
        <div class="navbar-header" style="padding-top: 20px;">
            <a class="navbar-brand" href="/"><h3>Speech Emotion Detection</h3></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="center" style="padding-right: 50px;">
                <a href="/user/signout" class="btn btn-danger">Sign Out</a>
            </div>
        </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
                alert(messages[i]);
            }
            </script>
        {% endif %}
    {% endwith %}

     <div class="container">
        <center style="margin-bottom: 20px;">
            <h2 style="margin-bottom: 20px; margin-top: 10px;">Record Your Audio</h2>
            <button id="recordButton" class="btn btn-success">Start</button>
            <button id="pauseButton" disabled class="btn btn-primary">Pause</button>
            <button id="stopButton" disabled class="btn btn-danger">Stop</button>
        </center>
        <p><strong>New Recordings List:</strong></p> <br>
        <ul id="recordingsList" class="center"></ul>
    </div> 

    <hr>
    <div class="container">
        <h6 style="margin-bottom: 13px;"><strong>Predicted Recordings List:</strong></h6>
        <div>
            {% for audio in audios %}
                <audio controls>
                    <source src={{audio.url}} type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                <span style="margin-left: 5%; position: relative; bottom: 20px;">Predict: <strong>{{audio.predict}}</strong></span>
                <br>
            {% endfor %}
        </div>
    </div> 
</span>

{% endblock %}