{% extends "layout.html" %}

{% block body %}

<span>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
        <div class="navbar-header" style="padding-top: 20px;">
            <a class="navbar-brand" href="/"><h3>Speech Emotion Detection</h3></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="center" style="padding-right: 50px;">
                <a href="/user/signout" class="btn btn-danger">Sign Out</a>
            </div>
        </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
            var messages = {{ messages | safe }};
            console.log(messages)
            for (var i=0; i<messages.length; i++) {
                alert(messages[i]);
            }
            </script>
        {% endif %}
    {% endwith %}

     <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-6">
                <center style="margin-bottom: 30px;">
                    <h2 style="margin-bottom: 20px; margin-top: 10px;">Record Your Audio</h2>
                    <button id="recordButton" class="btn btn-success">Start</button>
                    <button id="pauseButton" disabled class="btn btn-primary">Pause</button>
                    <button id="stopButton" disabled class="btn btn-danger">Stop</button>
                </center>
            </div>
            <div class="col-1">
                <div style="border-left:1px solid #000;height:200px"></div>
            </div>
            <div class="col-5">
                <form onsubmit="return fileSelectionSubmitButtonHandling(event)" method="POST" enctype="multipart/form-data" style="margin-bottom: 30px;">
                    <h2 style="margin-bottom: 20px; margin-top: 10px;">Select your Audio</h2>
                    <input type="file" name="selectFile" accept="audio/*" required> </br> </br>
                    <span style="padding: 5%; margin-top: 7px;">
                        <input id="predictBtn" type="submit" value="Predict" class="btn btn-success">
                    </span>
                </form>
            </div>
        </div>
        <center>
            <div id="buttonload" class="btn" style="margin-top: 10px;">
                <i class="fa fa-spinner fa-spin"></i> <b>Loading</b>
            </div>
        </center>
        <p><strong>Recent Recordings List:</strong></p> <br>
        <ul id="recordingsList" class="center"></ul>
        <div class="row">
            <h6 style="margin-bottom: 13px;" id="resultTxt1"><strong>Analyzing...</strong></h6>
            <div class="col-6">
                <img id="mfccsPlot" width="620" height="160"> 
            </div>
            <div class="col-6">
                <img id="spectrogramPloat" width="620" height="160">
            </div>
        </div>
        <br>
        <div class="row">
            <h6 style="margin-bottom: 13px;" id="resultTxt2"><strong>Predictions:</strong></h6>
            <div class="col-4">
                <img id="resultPlot1" width="400" height="400"> 
            </div>
            <div class="col-4">
                <img id="resultPlot2" width="400" height="400">
            </div>
            <div class="col-4">
                <img id="resultPlot3" width="400" height="400"> 
            </div>
        </div>
    </div> 

    <hr>
    <div class="container">
        <h6 style="margin-bottom: 13px;"><strong>Predicted Past Recordings List:</strong></h6>
        <div class="pastAudioList">
            {% for audio in audios %}
                <audio controls>
                    <source src={{audio.url}} type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                <span style="margin-left: 5%; position: relative; bottom: 20px;">Predict: <strong>{{audio.predict}}</strong></span>
                <br>
            {% endfor %}
        </div>
    </div> 
</span>

{% endblock %}