{% extends "layout.html" %}

{% block body %}
<section class="side">
   <img src="{{ url_for('static',filename='images/img.svg') }}" alt="">
</section>

{% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          var messages = {{ messages | safe }};
          for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
          }
        </script>
      {% endif %}
{% endwith %}

<section class="main">
   <div class="login-container">
      <p class="title">Sign In</p>
      <div class="separator"></div>
      <p class="welcome-message">Please, provide sign-in credential to proceed and have access to all our services</p>

      <form class="login-form" method="post" action="/auth/signin">
            <div class="form-control">
               <input type="email" placeholder="Email Address" name="email" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"  value={{email}}>
               <i class="fas fa-envelope"></i>
            </div>
            <div class="form-control">
               <input type="password" placeholder="Password" name="password" required>
               <i class="fas fa-lock"></i>
            </div>

            <button class="submit">Sign In</button>
      </form>
      <p class="welcome-message"><a href="/auth/signup">Create new account</a></p>
   </div>
</section>
{% endblock %}